<ion-content>
	<div style="text-align: center;">
		<h3>{{title}}</h3>
	</div>
	<ion-item *ngIf="!hasEnvios()">
		<ion-label>
		  <h3>No hay envios!!!</h3>
		</ion-label>
	</ion-item>
	<ng-container *ngIf="hasEnvios()">
		<div id="envios" *ngFor="let shipping of shippings">
			<ion-item (click)="openShipping(shipping)">
				<ion-label>
				<p class="title"><b>Envio #{{shipping.id}}</b></p>
				<p >Direccion origen: <b>{{shipping.requestaddress}}</b></p>
				<p >Ciudad origen: <b>{{displayCity(shipping.requestcityid)}}</b></p>
				<p >Direccion destino: <b>{{shipping.requestaddress}}</b></p>
				<p >Ciudad destino: <b>{{displayCity(shipping.destinationcityid)}}</b></p>
				<p>Estatus: <b 
					[class.statusCreated]="statusCreated(shipping.statusid)" 
					[class.statusAccepted]="statusAccepted(shipping.statusid)" 
					[class.statusOnDelivery]="statusOnDelivery(shipping.statusid)" 
					[class.statusDelivered]="statusDelivered(shipping.statusid)" 
					[class.statusCancel]="statusCancel(shipping.statusid)" 
					>{{displayStatus(shipping.statusid)}}</b></p>
				</ion-label>
			</ion-item>
		</div>
		<div style="display:flex; justify-content: space-evenly; margin-top: 15px;">
			<ion-button (click)="cancel()" >Regresar</ion-button>
		</div>
	</ng-container>
</ion-content>