ion-content {
	--padding-top: 10%;
	--padding-start: 10%;
	--padding-end: 10%;
}

p{
	font-size:12px;
}

.statusCreated{
	color:cyan;
}

.statusAccepted{
	color:darkcyan;
}

.statusOnDelivery{
	color:blue;
}

.statusDelivered{
	color:green;
}

.statusCancel{
	color:red;
}