ion-content {
	--padding-top: 10px;
	--padding-start: 10px;
	--padding-end: 10px;
}

p{
	font-size:12px;
}

.requester{
	color:CornflowerBlue;
}

.delivery{
	color:Chocolate;
}

.statusCreated{
	color:cyan;
}

.statusAccepted{
	color:darkcyan;
}

.statusOnDelivery{
	color:DodgerBlue ;
}

.statusDelivered{
	color:green;
}

.statusCancel{
	color:red;
}

ion-card-content{
	margin-left: 10px;
}