<ion-header>
	<ion-toolbar>
		<ion-title>Repartidor</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-item *ngIf="hasNoShippings()">
		<ion-label>
		  <h3>No hay envios!!!</h3>
		</ion-label>
	</ion-item>
	<ng-container *ngIf="hasEnvios()">
		<div id="envios" *ngFor="let shipping of shippings" style="margin-top:15px">
			<ion-card style="margin-top:10px;" >
				<div style="margin:auto; width: 50%; padding-top: 10px;" (click)="openShipping(shipping)">
					<img [src]="loadImage(shipping)" style="border-radius: 10px; max-height: 200px; "/>
				</div>
				<ion-card-content >
					<div (click)="openShipping(shipping)">
						<p style="font-weight: bold; font-size: 13px;">Envio: #{{shipping.id}}</p>
						<p>Origen: {{shipping.requestaddress}}, {{displayCity(shipping.requestcityid)}}</p>
						<p>Destino: {{shipping.requestaddress}}, {{displayCity(shipping.destinationcityid)}}</p>
						<p>Estatus: <b 
							[class.statusCreated]="status(shipping.statusid,1)" 
							[class.statusAccepted]="status(shipping.statusid,2)" 
							[class.statusOnDelivery]="status(shipping.statusid,3)" 
							[class.statusDelivered]="status(shipping.statusid,4)" 
							[class.statusCancel]="status(shipping.statusid,5)" 
							>{{displayStatus(shipping.statusid)}}</b></p>
					</div>
					<div style="display: flex; justify-content: right; padding-top: 10px;">
						<ion-button (click)="receiveShipping(shipping)" *ngIf="shipping.statusid!=4">{{buttonText(shipping)}}</ion-button>
					</div>
				</ion-card-content>
			</ion-card>
		</div>
	</ng-container>
	<div>
		<ion-fab slot="fixed" vertical="bottom" horizontal="end" >
			<ion-fab-button (click)="searchNew()">
				<ion-icon  name="search-outline"></ion-icon>
			</ion-fab-button>
		</ion-fab>		
	</div>
</ion-content>
