
<ion-content>
  <h2>Envio #{{this._id}}</h2><br>
  <div style="margin-bottom: 15px">
    <ion-item *ngIf="_requestUser" >
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-input [(ngModel)]="_requestUser" type="text" label="Cliente" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_deliveryUser">
      <ion-avatar slot="start">
        <img  src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-input [(ngModel)]="_deliveryUser" type="text" label="Repartidor" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_requestDate">
      <ion-input  [(ngModel)]="_requestDate" type="text" label="Fecha de envio" labelPlacement="floating" disabled ></ion-input>
    </ion-item>

    <ion-item *ngIf="_requesterAddress">
      <ion-input [(ngModel)]="_requesterAddress" type="text" label="Direccion Origen" labelPlacement="floating" disabled ></ion-input>
    </ion-item>

    <ion-item *ngIf="_requestCity">
      <ion-input [(ngModel)]="_requestCity"  type="text" label="Ciudad Origen" labelPlacement="floating" disabled  ></ion-input>
    </ion-item>

    <ion-item *ngIf="_destinationAddress">
      <ion-input [(ngModel)]="_destinationAddress" type="text" label="Direccion Destino" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_destinationCity">
      <ion-input [(ngModel)]="_destinationCity" type="text" label="Ciudad Destino" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_acceptanceDate"> 
      <ion-input  [(ngModel)]="_acceptanceDate" type="text" label="Fecha de aceptacion" labelPlacement="floating" disabled></ion-input>
    </ion-item>


    <ion-item *ngIf="_receivedDate"> 
      <ion-input  [(ngModel)]="_receivedDate" type="text" label="Fecha de recepcion" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_deliveredDate">
      <ion-input [(ngModel)]="_deliveredDate" type="text" label="Fecha de entrega" labelPlacement="floating"  disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_cancelDate">
      <ion-input [(ngModel)]="_cancelDate" type="text" label="Fecha de cancelacion" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_cancelcomments">
      <ion-input [(ngModel)]="_cancelcomments" type="text" label="Comentarios de cancelacion" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_totalAmount">
      <ion-input [(ngModel)]="_totalAmount" type="text" label="Monto" labelPlacement="floating" disabled></ion-input>
    </ion-item>

    <ion-item *ngIf="_status">
      <ion-input [(ngModel)]="_status" type="text" label="Estado" labelPlacement="floating" disabled></ion-input>
    </ion-item>
  </div>
  <div style="display:flex; justify-content: space-evenly; margin-top: 15px;">
    <ion-button (click)="cancel()" >Regresar</ion-button>
  </div>
</ion-content>