ion-content {
	
	--padding-start: 5px;	
	--padding-end: 5px;
}

p{
	font-size:12px;
}

.requester{
	color:CornflowerBlue;
}

.delivery{
	color:Chocolate;
}

.statusCreated{
	color:cyan;
}

.statusAccepted{
	color:darkcyan;
}

.statusOnDelivery{
	color:blue;
}

.statusDelivered{
	color:green;
}


.statusCancel{

	color:red;
}

ion-card img{
	max-height: 200px;
}


