ion-content {
	--padding-top: 50%;
	--padding-start: 10%;
	--padding-end: 10%;
}

.icon-camera{
	font-size: 30px;
	margin-top: 20px;
	//text-align: center;
	display: flex;
	justify-content:space-evenly;
}