extends layout

block content
  h1 Política de Eliminación de Cuenta de Chapin Delivery
  p En "Chapin Delivery", valoramos su experiencia y privacidad como usuario. Entendemos que en algunas ocasiones puede desear eliminar su cuenta de nuestra aplicación. A continuación, detallamos el proceso para solicitar la eliminación de su cuenta.

  h2 Pasos para la Eliminación de Cuenta:

  
  ol
    li Envíe un correo electrónico a la dirección de soporte de "Chapin Delivery" desde la dirección de correo electrónico asociada a su cuenta. El asunto del correo debe ser "Solicitud de Eliminación de Cuenta".
    li En el cuerpo del correo electrónico, incluya la siguiente información:
      ul 
        li Su nombre de usuario o dirección de correo electrónico asociada a la cuenta.
        li Una breve razón para la eliminación de su cuenta, esto nos ayudará a mejorar nuestros servicios.
    li Envíe el correo electrónico a: joflavio@gmail.com.