extends layout

block content
  h1 Política de Privacidad de Chapin Delivery
  p Última actualización: 29/09/2023
  p Bienvenido a Chapin Delivery, la primera aplicación móvil de delivery sin recargos en Guatemala. En Chapin Delivery, valoramos y respetamos su privacidad. Esta Política de Privacidad tiene como objetivo informarle sobre cómo recopilamos, utilizamos, compartimos y protegemos sus datos personales al utilizar nuestra aplicación.

  ol 
    li <strong> Información que Recopilamos </strong>
      ol
        li <strong>Información de Registro:</strong> Cuando se registra en Chapin Delivery, podemos recopilar información como su nombre, dirección de correo electrónico, número de teléfono y dirección de entrega.
        li <strong>Información de la Cuenta:</strong> Para brindarle nuestros servicios, podemos recopilar información relacionada con su cuenta, como su historial de pedidos y preferencias.
        li <strong>Información de Ubicación:</strong> Para facilitar la entrega de sus pedidos, recopilamos datos de ubicación en tiempo real a través de su dispositivo móvil.
        li Información de Pagos: Si realiza envios a través de la aplicación, NO se realizara ningun recargo por parte de Chapin Delivery por el envio y el pago se debera de hacer al repartidor en efectivo.
        li Información del Dispositivo: Recopilamos información sobre su dispositivo móvil, incluyendo el modelo, sistema operativo y identificadores únicos.
    li <strong>Uso de la Información</strong>
      ol
        li Mejora de Nuestros Servicios: Utilizamos la información recopilada para mejorar la calidad de nuestros servicios, personalizar su experiencia y brindar un soporte eficiente al cliente.
        li Comunicación: Podemos enviarle comunicaciones relacionadas con su cuenta, promociones y noticias sobre Chapin Delivery.
        li Seguridad y Prevención de Fraudes: Utilizamos sus datos para proteger nuestros servicios y prevenir fraudes y abusos.
    li <strong>Compartir Información</strong>
      ol 
        li Proveedores de Servicios: Compartimos su información con proveedores de servicios que nos ayudan a operar y mantener la aplicación, como procesadores de pagos y servicios de entrega.
        li Cumplimiento Legal: Podemos divulgar su información en respuesta a solicitudes legales y para cumplir con nuestras obligaciones legales.
        li Terceros: No compartimos su información con terceros con fines publicitarios sin su consentimiento expreso.
    li <strong>Seguridad de Datos</strong>
      p Tomamos medidas para proteger sus datos personales y mantenerlos seguros. Sin embargo, ninguna transmisión de datos en línea o sistema de almacenamiento es completamente seguro.
    li <strong>Sus Derechos</strong>
      p Usted tiene ciertos derechos relacionados con sus datos personales, como el acceso, la corrección y la eliminación de su información. Puede ejercer estos derechos poniéndose en contacto con nuestro equipo de soporte.
    li <strong>Cambios en la Política de Privacidad</strong>
      p Esta política de privacidad puede actualizarse ocasionalmente para reflejar cambios en nuestras prácticas de recopilación y uso de datos. Se le notificarán cambios significativos a través de la aplicación o por correo electrónico.
    li <strong>Contacto</strong>
      p Si tiene alguna pregunta o inquietud sobre esta política de privacidad o el manejo de sus datos personales, comuníquese con nosotros a través de joflavio@gmail.com.

  p Gracias por confiar en Chapin Delivery. Valoramos su privacidad y trabajamos constantemente para protegerla.
