<ion-content>
	<swiper-container #swiper pager="true">
		<!-- Slide 1 -->
		<swiper-slide>
			<ion-text color="medium"  style="text-align: center;" >
				<p style="font-size: 30px;">¡Hola!</p>
				<p style="font-size: 20px;">¿Sabes cual es la app lider en envio de paqueteria sin costo de uso en Guatemala??</p>
				<ion-button (click)="next()" fill="outline" color="medium">Continuar...</ion-button>
			</ion-text>
		</swiper-slide>

		<!-- Slide 2 -->
		<swiper-slide > 
			<ion-text color="medium">

				<h1 style="text-align: center; margin-bottom: 20px;">Chapin Delivery</h1>

				<div style="margin:auto; width: 65%; padding-bottom: 20px;">
					<img src="assets/Logo512.png" style=" border-radius: 15px; " >
				</div>
					
			</ion-text>
			<ion-button (click)="start()" fill="outline" color="medium">Empezar...</ion-button>
		</swiper-slide>
	</swiper-container>
</ion-content>
